@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap');

* {
    padding: 0px;
    margin: 0px;
    list-style-type: none;
    text-decoration: none !important;
    font-family: 'Inter', sans-serif !important;
}

:root {
    /* FONT SIZES */
    --font-xl: 36px;
    --font-md: 24px;
    --font-sm: 16px;
}

/*MEDIA============================QUERY===============================START*/
@media (max-width: 991.98px) {
    :root {
        --font-xl: 36px;
        --font-md: 24px;
        --font-sm: 16px;
    }
}

@media (max-width: 767.98px) {
    :root {
        --font-xl: 36px;
        --font-md: 24px;
        --font-sm: 16px;
    }
}

@media (max-width: 575.98px) {
    :root {
        --font-xl: 36px;
        --font-md: 24px;
        --font-sm: 16px;
    }
}

/* COMMON CLASSES */
/* FONTS */

.font-xl {
    font-size: var(--font-xl) !important;
}

.font-md {
    font-size: var(--font-md) !important;
}

.font-sm {
    font-size: var(--font-sm) !important;
}

/*COMMON=========================CLASSES============================START*/
.inter {
    font-family: 'Inter', sans-serif !important;
}

.courser_pointer {
    cursor: pointer !important;
}

.heading {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    letter-spacing: 0em;
    text-align: center;
    color: #808080;
}

.main_para {
    font-size: var(--font-md);
    font-weight: 400;
    color: var(--white);
    font-family: "Poppins", sans-serif;
}

.box {
    width: 467px;
    left: 490px;
    top: 441px;
    border-radius: 20px;
    background: #ffffff;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}

.box_two {
    height: 304px;
    width: 467px;
    left: 490px;
    top: 403px;
    border-radius: 20px;
    box-shadow: 0px 11px 44px -10px rgba(0, 0, 0, 0.25);
}


.zero {
    font-family: Inter;
    font-size: 36px;
    font-weight: 400;
    line-height: 44px;
    letter-spacing: 0em;
    text-align: center;
}

.common_btn {
    padding: 13px 35px;
    background: linear-gradient(97.42deg, #128DFF -4.95%, #1444EF 109.04%);
    border-radius: 4px;
    color: white;
    text-align: center;
    border: none;
}

.common_btn:hover {
    background: linear-gradient(97.42deg, #1444EF -4.95%, #128dff 109.04%);
}